@import "tailwindcss";

:root {
    --bg: #FFF7F7;

    --card: #FFFFFF;
    --card-hover: #FFF1F2;

    --text: #1F2937;
    --text-secondary: #6B7280;

    --border: #FBCFE8;

    --primary: #E11D48;
    --primary-hover: #BE123C;

    --success: #16A34A;
    --warning: #D97706;
    --error: #DC2626;
}

@theme inline {
    --color-background: var(--background);
    --color-card: var(--card);
    --color-card-hover: var(--card-hover);

    --color-foreground: var(--text);
    --color-foreground-secondary: var(--text-secondary);

    --color-border: var(--border);

    --color-primary: var(--primary);
    --color-primary-hover: var(--primary-hover);

    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-error: var(--error);
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0F172A;*/
/*        --text: #F8FAFC;*/
/*    }*/
/*}*/

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.recharts-wrapper,
.recharts-responsive-container,
.recharts-surface {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
